{% extends "layout.html"%}

{% block title %} Account-Registration-Page {% endblock %}

{% block body %}
<h1>Create An Account Here</h1>

<form id="form" action="{{ url_for('index')}}" method="POST">
     {{ form.csrf_token }}

    <!-- Username Field -->
    <div>
        {{ form.username(class_='form-control', placeholder='Username', autocomplete='off', autofocus=true)}}

        <!-- print validator errors -->
        {% for error in form.username.errors %}
        <p>* {{ error }}</p>
        {% endfor %}
    </div> <br>

    <!-- Password Field -->
    <div>
        {{ form.password(class_='form-control', placeholder='Password')}}

        <!-- print validator errors -->
        {% for error in form.password.errors %}
        <p>* {{ error }}</p>
        {% endfor %}
    </div> <br>

    <!-- Confirmation Password Field -->
    <div>
        {{ form.confirm_pwd(class_='form-control', placeholder='Confirm Password')}}

        <!-- print validator errors -->
         {% for error in form.confirm_pwd.errors %}
         <p>* {{ error }}</p>
         {% endfor %}
    </div> <br>

    <!-- Portfolio Field -->
    <div> {{ form.portfolios(class_='form-control')}}

        <!-- print validator errors -->
        {% for error in form.portfolios.errors %}
        <p>* {{ error }}</p>
        {% endfor %}
        
    </div> <br>
   
    <!-- Submit button Field -->
    <div>  {{ form.submit_btn}} </div>
   
 </form>

{% endblock %}


   
